*.iml
.gradle
Study-Up/local.properties
Study-Up/.idea/caches
Study-Up/.idea/libraries
Study-Up/.idea/modules.xml
Study-Up/.idea/workspace.xml
Study-Up/.idea/navEditor.xml
Study-Up/.idea/assetWizardSettings.xml
Study-Up/.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties